@model StudentiIspitiZadatak.Models.Student

@{
    ViewBag.Title = "Detalji";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalji studenta</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BrIndexa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrIndexa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumRodjenja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumRodjenja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MestoRodjenja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MestoRodjenja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumUpisa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumUpisa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Izmeni", "Edit", new { id = Model.BrIndexa }) |
    @Html.ActionLink("Nazad", "Index")
</p>
